.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form select {
  padding: 20px;
  background-color: transparent;
  color: var(--text);
  border: 2px solid #b3b3b3;
  border-radius: 5px;
  margin-bottom: 30px;
}
.form select option {
  background-color: var(--bgSoft); /* Set dropdown background */
  color: var(--text); /* Match text color */
}

.form input,
.form select {
  width: 48%;
}

.form button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
